@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");

*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-family: "Nunito Sans", sans-serif;
}

body {
	display: flex;
	min-height: 100svh;
	align-items: center;
	justify-content: center;
	background-color: var(--Very-Light-Gray);
}

img,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
button {
	font: inherit;
}

:root {
	/* (Dark Mode Elements) */
	--Dark-Blue: hsl(209, 23%, 22%);
	/* (Dark Mode Background) */
	--Very-Dark-Blue: hsl(207, 26%, 17%);
	/* (Light Mode Text) */
	/* --Very-Dark-Blue: hsl(200, 15%, 8%); */
	/* (Light Mode Input) */
	--Dark-Gray: hsl(0, 0%, 52%);
	/* (Light Mode Background) */
	--Very-Light-Gray: hsl(0, 0%, 98%);
	/* (Dark Mode Text & Light Mode Elements) */
	--White: hsl(0, 0%, 100%);
}

/*! -------------- CONTAINER --------------- */
.container {
	min-height: 100svh;
	width: 100%;
	min-width: 285px;
	max-width: 1300px;
	background-color: inherit;
	/* background-color: var(--Very-Light-Gray); */
}

main {
	padding: 1.5rem 1rem;
}

.header-background {
	top: 0;
	left: 0;
	width: 100%;
	display: none;
	height: 64.38px;
	position: absolute;
	background-color: white;
	box-shadow: 0px 8px 5px -6px #0000002c;
}
/*! -------------- NAV --------------- */

nav {
	width: 100%;
	display: flex;
	padding: 2rem 1rem;
	align-items: center;
	background-color: var(--White);
	justify-content: space-between;
	box-shadow: 0px 8px 5px -6px #0000002c;
}

nav h1 {
	font-size: 1rem;
	font-weight: 800;
}

nav .dark-mode {
	gap: 0.55rem;
	display: flex;
	font-size: 0.9rem;
	font-weight: 600;
	align-items: center;
	justify-content: space-between;
}

.dark-mode {
	padding: 2px;
	cursor: pointer;
	text-wrap: nowrap;
	background-size: 0% 3px;
	background-repeat: no-repeat;
	background-position: left bottom;
	transition: background-size 100ms;
	background-image: linear-gradient(90deg, black, white);
}

.dark-mode:hover {
	background-size: 100% 3px;
}

/*! -------------- SEARCH NAV --------------- */
.search-nav {
	display: grid;
	gap: 2.2rem;
	position: relative;
}

.search-input {
	border: none;
	width: 100%;
	cursor: pointer;
	font-size: 0.9rem;
	border-radius: 0.4rem;
	padding: 0.9rem 0.5rem 0.9rem 3.6rem;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.search-input:focus {
	outline: 1px solid rgba(0, 0, 0, 0.25);
}

.search-input.active {
	background-color: rgba(255, 0, 0, 0.1);
	box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.9);
}

.search-input.active:focus {
	background-color:rgba(255, 0, 0, 0.05);
	border: none;
}

.search-icon {
	top: 1rem;
	left: 1.5rem;
	cursor: pointer;
	transition: 500m;
	position: absolute;
	color: rgba(128, 128, 128, 0.5);
}

.search-icon:hover {
	transform: scale(1.2);
}

.select {
	width: 60%;
	display: flex;
	min-width: 160px;
	max-width: 55%;
	padding: 0.9rem;
	cursor: pointer;
	position: relative;
	font-size: 0.9rem;
	align-items: center;
	border-radius: 0.5rem;
	background-color: white;
	justify-content: space-between;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.select-icon {
	transition: 200ms;
}

.select.active .select-icon {
	transform: rotate(0.5turn);
}

.dropdown {
	overflow: hidden;
	left: 0;
	opacity: 0;
	z-index: 2;
	width: 100%;
	display: grid;
	top: 2.5rem;
	color: black;
	cursor: pointer;
	position: absolute;
	border-radius: 0.5rem;
	pointer-events: none;
	background-color: white;
	transition: opacity 200ms, top 200ms;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.dropdown.active {
	opacity: 1;
	top: 3.3rem;
	pointer-events: auto;
}

.drop {
	padding: 0 1rem;
	padding-block: 0.2rem;
}

.drop:nth-of-type(1) {
	padding-top: 0.7rem;
}

.drop:nth-of-type(5) {
	padding-bottom: 0.7rem;
}

.drop:hover {
	background-color: rgba(0, 0, 0, 0.05);
}
}
/*! -------------- DARK MODE --------------- */

.body-theme-change {
	background-color: hsl(207, 26%, 17%);
}

.background-change {
	background-color: hsl(209, 23%, 22%);
}
.text-change {
	color: white;
}

/*! -------------- CARD CONTAINER --------------- */

.cards-container {
	display: grid;
	gap: 2.5rem;
	width: 100%;
	padding: 1.5rem 1.4rem;
}

.card {
	display: grid;
	overflow: hidden;
	border-radius: 0.5rem;
	grid-template-rows: 160px 1fr;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.card-flag {
	z-index: 1;
	width: 100%;
	height: 100%;
	object-fit: fill;
	object-position: center;
}

.card-info {
	gap: 0.8rem;
	display: grid;
	padding: 1.7rem 1.5rem 2.5rem 1.5rem;
}

.card-group {
	display: grid;
	gap: 0.2rem;
}

.card-item {
	display: flex;
	flex-wrap: wrap;
	gap: 0.3rem;
}

.card-name {
	font-size: 1.15rem;
	font-weight: 800;
}

.data {
	font-weight: 600;
}

/*! -------------- MEDIA --------------- */

@media screen and (min-width: 375px) {
	.cards-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	}
}

@media screen and (min-width: 1300px) {
	body {
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	nav {
		/* z-index: 1; */
		padding-inline: 0;
		padding-block: 1.2rem;
		/* background-color: transparent; */
	}

	nav h1 {
		font-size: 1.2rem;
	}

	.container {
		min-height: 100vh;
		max-width: 100vw;
		max-width: 1300px;
		/* margin-inline: 1.5rem; */
	}

	main {
		padding-inline: 0;
		padding-bottom: 0;
		margin-inline: auto;
	}

	.cards-container {
		gap: 4rem;
		padding-top: 2rem;
		padding-inline: 0;
	}

	.search-nav {
		display: flex;
		padding-top: 1rem;
		justify-content: space-between;
	}

	.search-input {
		width: 40%;
	}

	.select {
		width: 17%;
	}

	.search-icon {
		position: absolute;
		top: 2rem;
		left: 1.5rem;
	}

	.header-background {
		z-index: -1;
		display: block;
		isolation: isolate;
	}
}
