@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");

*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-family: "Nunito Sans", sans-serif;
}

body {
	display: flex;
	min-height: 100svh;
	align-items: center;
	justify-content: center;
}

img,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
button {
	font: inherit;
}

:root {
	/* (Dark Mode Elements) */
	--Dark-Blue: hsl(209, 23%, 22%);
	/* (Dark Mode Background) */
	--Very-Dark-Blue: hsl(207, 26%, 17%);
	/* (Light Mode Text) */
	--Very-Dark-Blue: hsl(200, 15%, 8%);
	/* (Light Mode Input) */
	--Dark-Gray: hsl(0, 0%, 52%);
	/* (Light Mode Background) */
	--Very-Light-Gray: hsl(0, 0%, 98%);
	/* (Dark Mode Text & Light Mode Elements) */
	--White: hsl(0, 0%, 100%);
}

.container {
	width: 100%;
	background-color: wheat;
	/* background-color: var(--Very-Light-Gray); */
}

nav {
	width: 100%;
	display: flex;
	padding: 2rem 1rem;
	border: 1px solid black;
	background-color: var(--White);
	justify-content: space-between;
}

nav h1 {
	font-size: 1rem;
	font-weight: 800;
}

nav .dark-mode {
	gap: 0.55rem;
	display: flex;
	font-size: 0.9rem;
	font-weight: 600;
	align-items: center;
	justify-content: center;
}

main {
	padding: 1rem;
	border: 2px solid lime;
}

.search-nav {
	display: grid;
	gap: 2.2rem;
}

.search-input {
	border: none;
	width: 100%;
	cursor: pointer;
	font-size: 0.9rem;
	border-radius: 0.4rem;
	padding: 0.9rem 0.5rem 0.9rem 3rem;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.274);
}

.select {
	width: 60%;
	display: flex;
	padding: 0.9rem;
	cursor: pointer;
	position: relative;
	font-size: 0.9rem;
	align-items: center;
	border-radius: 0.5rem;
	background-color: white;
	justify-content: space-between;
}

.dropdown {
	left: 0;
	border-radius: 0.5rem;
	opacity: 0.9;
	width: 100%;
	display: grid;
	gap: 0.5rem;
	padding: 1rem;
	top: 3.3rem;
	cursor: pointer;
	position: absolute;
	/* pointer-events: none; */
	background-color: white;
	color: black;
}
